body{
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.navbar{
    font-family: cursive; 
}
.container{
    font-family: cursive;
    background-color: rgba(73, 2, 5, 0.822);
    color: white;
    padding: 50px;
    border: 10px double ;
    border-radius: 10px;
   text-align: center;
}
.card-body{
    color: black;
    background-color:rgba(66, 82, 71, 0.801);
    margin: 4px;
    border-radius: 8px;
}
.card{
    margin: 50px;
}
